doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    script(type='text/javascript', src='/js/jquery.js') 
    script(type='text/javascript', src='/js/bootstrap.js')
    block content